@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* FORZAR MODO OSCURO NATIVO */
:root {
    color-scheme: dark;
}

body {
    background-color: #1a1a1a;
    /* Un color de fondo base oscuro por si algo falla */
    color: #e5e5e5;
}

/* Asegurar que los botones y enlaces siempre muestren la mano */
button,
a,
select,
[role="button"] {
    cursor: pointer;
}